<form [formGroup] = "productForm" (ngSubmit)="checkout(productForm)" >
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="/shop">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let item of checkOutArray">
                        <td class="cart_product">
                            <a href=""><img style="width: 50px; height:50px;" src="{{item.image}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{item.name}}</a></h4>
                            <p>Web ID: {{item.id}}</p>
                        </td>
                        <td class="cart_price">
                            <p>Rs.{{item.amount}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <p>{{item.newquantity}}</p>
                                                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{item.totalamount}}</p>
                        </td>
                        <td class="cart_delete">
                            <a style="cursor: pointer;" class="cart_quantity_delete" (click)="deleteOrder(item.id)"><i class="fa fa-times">Delete</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="total_area">
                <ul>
                    <li style="background-color: white;">
                        <input formControlName="address" type="text" class="form-control" placeholder="Address :"/>
                        <div *ngIf="submitted && f.address.errors?.required" class="errorMsg">Address is required.</div>
                        <div *ngIf="f.address.errors?.maxlength" class="errorMsg">Address maximum length is 150.</div>
                    </li>
                    <li style="background-color: white;">
                        <input formControlName="mobile" type="text" class="form-control" placeholder="Mobile No :"/>
                        <div *ngIf="submitted && f.mobile.errors?.required" class="errorMsg">Mobile is required.</div>
                        <div *ngIf="f.mobile.errors?.maxlength" class="errorMsg">Mobile maximum length is 20.</div>
                    </li>
                    <li style="background-color: white;">
                        <input formControlName="zipcode" type="text" class="form-control" placeholder="ZipCode :"/>
                        <div *ngIf="submitted && f.zipcode.errors?.required" class="errorMsg">Zipcode is required.</div>
                        <div *ngIf="f.zipcode.errors?.maxlength" class="errorMsg">ZipCode maximum length is 20.</div>
                    </li>
                </ul>
                </div>
            </div>
            <div class="col-sm-6">
            <div class="total_area">
                <ul>
                    <li>Cart Sub Total <span>Rs.{{cartTotal}}</span></li>
                    <li>Shipping Cost <span>Rs.{{shippingPrice}}</span></li>
                    <li>Total <span>Rs.{{finalPrice}}</span></li>
                </ul>
            </div>
        </div>
        <input type="submit" [hidden]="!isAllowedToCheckout" class="btn btn-default check_out" style="color:white;" value="CheckOut" />
    </div>
    </div>
</section>
</form>