<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/shop"><img src="../assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/shop">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addProduct" *ngIf="isAdmin">AddProduct</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addCategory" *ngIf="isAdmin">AddCategory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders" *ngIf="!isAdmin && isLoggedIn">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/checkout" >Cart <span style="color:red;">({{message}})</span></a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <span class="navbar-text" *ngIf="!isLoggedIn" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
      </span>

      <span class="navbar-text" *ngIf="isLoggedIn">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" (click) = "logOut()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Welcome {{userName}} </a> 
          </li>
        </ul>
      </span>
    </div>
  </nav>
<router-outlet></router-outlet>
<div class="footer-bottom" style="position: relative; margin-top:10%; bottom: 0; width: 100%;">
  <div class="container">
    <div class="row">
      <p class="pull-left">Copyright © 2020 E-Shopper. All rights reserved.</p>
    </div>
  </div>
</div>